{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'login_new.css' %}">
</head>
<body>
    <div class="nav">
        <h3>Saketh</h3>
    <ul>
        <li><div class="profilecontainer">
        </div></li>
        <a href="{%url 'login_page' %}"><li><h3>Login</h3></li></a>
    </ul>
</div>
    <div class="container">
    <form action="{%url 'sign' %}" method="POST" novalidate>
        {% csrf_token %}
        <div class="form-control">
            {{form}}
        </div>
        <button>Signup</button>
    </form>
</div>
</body>
</html>