{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'main.css'%}">
</head>
<body>
    
    <div class="nav">
        <a href="{%url 'all' %}"><h3>Saketh</h3></a>
    <ul>
        <li></li>
        <a href="{%url 'logout' %}"><li><h3>Logout</h3></li></a>
    </ul>
</div>
    <div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {%for field in form%}
        <div class="form-control">
            {{field.label_tag}}
            {{field}}
            {{field.errors}}
        </div>
        {%endfor%}
        <button>Submit</button>
    </form>
    </div>
</body>
</body>
</html>