{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static "searches.css" %}">
    <title>Search</title>
</head>
<body>
    <div class="nav">
        <a href="{%url 'all' %}"><h3>Saketh</h3></a>
    <ul class="left">
        <a href="{%url 'logout' %}"><li><h3>Logout</h3></li></a>
    </ul>
</div>
    <div class="container">
    <form method="GET" class="single-line-form">
        {%for field in form%}
        <div class="form-control">
        {{field.label_tag}}
        {{ field }}
        </div>
        {%endfor%}
        <button>Filter</button>
    </form>
    <hr>
    <hr>
        <div class="col">
            {%for e in employees %}
            <a href="{%url "detail" e.slug%}">
            <div class="card">
                <img  class="linkimg" src="{{e.image.url}}" alt="">
                <h4>{{e.name}}</h4>
                <h5>{{e.position}}<h5>
            </div>
        </a>
        {%empty%}
        <h3 style="text-align: center;">No Employees Found</h3>
            {%endfor%}
        </div>
</div>
</body>
</html>
