* {
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    box-sizing: border-box;
    /* border: 1px solid red;  */
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black
}

:root {
    --colorcard: #fefeff;
    --colorblack: #0A2647;
    --colorwhite: #FEFBF6;
}

body {
    background-color: var(--colorblack);
}

p {
    font-size: 18px;
}

.titletext {
    font-size: 35px;
}

.container {

    height: auto;
    width: 90%;
    margin: 0 auto;
    background-color: var(--colorwhite);
    border-radius: 20px 20px 20px 20px;
    margin-top: 0;
    border: 2px solid var(--colorcard);
    /* display: inline; */

}

.nav {
    /* width: 100vw; */
    /* padding-top: 50px; */
    padding: 5px 8% 0;
    display: flex;
    /* flex: 1; */
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorblack);
}

.left img {
    padding: 50px 50px 10px 50px;
    width: 500px;
    border-radius: 75px;
}
.left button{
    margin-left:50px;
    margin-bottom:10px;
}

.right {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.right h3{
    color: #0A2647;

}
.underline-transition {
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
}

.underline-transition:hover {
    text-decoration: none;
}

.underline-transition::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #000;
    /* Change this to your desired underline color */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease;
}

/* Expand the underline on hover */
.underline-transition:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.details {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav h3 {
    color: var(--colorcard);
}

.profilecontainer {
    display: inline-block;
    background-color: grey;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-right: 7px;
    border: 2px solid grey;
}

.profilecontainer img {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.sidebar {
    height: 100vh;
    width: 45px;
    background-color: #01b1ff;
    position: absolute;
}



.col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}

.card {
    height: 260px;
    width: 210px;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--colorcard);
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    overflow: hidden;
    margin: 10px 15px;
    transition: all 0.4s ease;
    box-shadow: 5px 7px 8px 2px rgba(0, 0, 0, 0.4);
    text-align: center;

}

.card .linkimg {
    width: 105%;
    transition: all 0.4s ease;
}

.card h4 {
    margin-top: 5px;
    font-weight: 500;
    transition: all 0.4s ease;
}

.card h5{
    color:#0A2647;
    transition: all 0.4s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card:hover .linkimg {
    transform: scale(1.1);
}

.card:hover h4 {
    transform: translateY(10px);
}

.card.hover {
    transform: none;
}

.card.hover h4 {
    transform: none;
}
.card:hover h5 {
    transform: translateY(10px);
}
.card.hover h5 {
    transform: none;
}

.card.hover .linkimg {
    transform: none;
}

.navlist {
    padding-left: 0;
}

#btn {
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 6px 14px;
    height: 100%;
    width: 70px;
    background: var(--colorblack);
    transition: all 0.2s ease-in-out;
}

.sidebar.active {
    width: 240px;
}

.sidebar .gitam-logo .logo {
    color: var(--colorwhite);
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .gitam-logo .logo {
    opacity: 1;
    pointer-events: none;
}

.sidebar .gitam-logo .logo i {
    font-size: 28px;
    margin-right: 5px;
    color: var(--colorwhite);
}

.gitam-logo .logo .logo-name {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.sidebar #btn {
    position: absolute;
    left: 20%;
    color: var(--colorwhite);
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar.active #btn {
    left: 80%;
}

.sidebar ul {
    margin-top: 20px;

}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    line-height: 50px;

}


.sidebar ul li a {
    color: var(--colorwhite);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: var(--colorblack);
    background: var(--colorwhite);
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .list_names {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.sidebar.active .list_names {
    opacity: 1;
    pointer-events: auto;

}

@media screen and (max-width:1240px) {



    .row {
        flex-direction: column;
    }

    .col:nth-child(2) {
        margin-top: 30px;
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;

    }


}
.single-line-form {
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    margin-right: 20px;
    border-radius: 6px;
    background-color: #1f0050;
    color: white;
    border: 1px solid #1f0050;
  }
  
  button:hover,
  button:active {
    background-color: #320777;
    border-color: #320777;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  .form-control input {
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 15rem;
  }
  
  .form-control input:focus {
    border-color: #1f0050;
    outline: none;
    background-color: #f4eeff;
  }
  
  .form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }